.form {
    button {
        border: none;
        margin-right: 1rem;
        cursor: pointer;
        color: white;
        padding: 1rem;
        background: #03A9F4;
        box-shadow: -1px 5px 5px 0px #c3c3c3;
    }
}