input {
    display: block;
    border: none;
    border-bottom: 1px solid #929292;
    width: 50%;
}

.user-details {
    label {
        display: block;
        margin-bottom: 2rem;
    }
}

.form-buttons {
    text-align: end;
}